---
export interface Props {
    title: string;
    slug?: string;
    image: string;
    // url: string;
    // github: string;
    // private_repo: boolean;
    link: string;
    // imagePositions: [number]
}
//! Alles was in mit ="" ausgefüllt ist kann in die blog site rein
const { title, image, link, slug = '' } = Astro.props; // imagePositions=[]
const blogLink = `/projects/${link}`;

const imagePath = 'url(' + image + ')';
---

<div
    class='screen'
    data-aos-delay='600'
    data-aos-duration='1250'
    data-aos='fade-up'
>
    <div class='screen-image'></div>
    <div class='screen-overlay'></div>
    <div class='screen-content'>
        <div class='logo'>
            <svg
                width='50'
                height='50'
                viewBox='0 0 330 330'
                fill='none'
                xmlns='http://www.w3.org/2000/svg'
            >
                <path
                    d='M212.636 42.8089L200.664 30.8369C180.539 49.5062 149.248 49.5035 129.124 30.8369L117.154 42.8089C143.886 68.0662 185.906 68.0635 212.636 42.8089Z'
                    fill='#fff'></path>
                <path
                    d='M164.894 23.812C168.076 23.812 171.065 22.5733 173.313 20.3253C175.562 18.076 176.801 15.0867 176.801 11.9053C176.801 8.72535 175.562 5.73468 173.313 3.48668C171.065 1.23735 168.076 1.33514e-05 164.894 1.33514e-05C161.714 1.33514e-05 158.724 1.23735 156.476 3.48668C154.226 5.73468 152.988 8.72535 152.988 11.9053C152.988 15.0867 154.226 18.076 156.476 20.3253C158.724 22.5733 161.714 23.812 164.894 23.812Z'
                    fill='#fff'></path>
                <path
                    d='M287.104 117.048C261.849 143.78 261.849 185.8 287.104 212.532L299.076 200.561C280.409 180.436 280.409 149.145 299.076 129.02L287.104 117.048Z'
                    fill='#fff'></path>
                <path
                    d='M326.428 156.371C324.179 154.121 321.188 152.884 318.009 152.884C314.828 152.884 311.839 154.121 309.589 156.371C304.948 161.013 304.948 168.567 309.589 173.209C311.839 175.457 314.828 176.696 318.009 176.696C321.188 176.696 324.179 175.457 326.428 173.209C331.069 168.567 331.069 161.013 326.428 156.371Z'
                    fill='#fff'></path>
                <path
                    d='M30.833 129.129C49.501 149.253 49.501 180.545 30.833 200.67L42.805 212.641C55.0357 199.701 61.7477 182.826 61.7477 164.898C61.7477 146.97 55.0357 130.097 42.805 117.157L30.833 129.129Z'
                    fill='#fff'></path>
                <path
                    d='M11.9007 152.998C8.85133 152.998 5.80333 154.16 3.482 156.48C-1.16067 161.122 -1.16067 168.677 3.482 173.318C8.12467 177.962 15.6767 177.962 20.3193 173.318C24.962 168.677 24.962 161.122 20.3193 156.48C17.998 154.16 14.95 152.998 11.9007 152.998Z'
                    fill='#fff'></path>
                <path
                    d='M117.044 287.109L129.016 299.081C149.141 280.412 180.432 280.414 200.556 299.081L212.527 287.109C185.796 261.856 143.777 261.853 117.044 287.109Z'
                    fill='#fff'></path>
                <path
                    d='M164.785 306.112C161.736 306.112 158.688 307.272 156.366 309.593C151.724 314.236 151.724 321.79 156.366 326.432C161.009 331.076 168.561 331.076 173.204 326.432C177.846 321.79 177.846 314.236 173.204 309.593C170.882 307.272 167.834 306.112 164.785 306.112Z'
                    fill='#fff'></path>
                <path
                    d='M164.785 196.655C153.879 196.655 143.17 197.888 132.807 200.272L132.801 200.297L131.609 200.584C107.825 206.297 85.8555 218.195 68.0435 234.988C67.5088 235.493 66.9715 235.995 66.4421 236.509L93.2048 263.272C113.147 244.076 138.966 234.48 164.786 234.48C184.246 234.48 203.701 239.937 220.643 250.84C209.278 235.399 201.366 218.195 196.894 200.301C186.49 197.9 175.735 196.655 164.785 196.655Z'
                    fill='#fff'></path>
                <path
                    d='M250.484 109.408C235.101 120.659 217.985 128.498 200.188 132.931C189.731 178.202 201.792 227.666 236.391 263.247L263.152 236.484C229.593 201.619 225.372 148.794 250.484 109.408Z'
                    fill='#fff'></path>
                <path
                    d='M108.945 79.0172C120.269 94.3252 128.337 111.492 132.873 129.6C178.155 140.077 227.643 128.019 263.237 93.4092L236.474 66.6466C201.474 100.337 148.378 104.455 108.945 79.0172Z'
                    fill='#fff'></path>
                <path
                    d='M79.1271 220.574C94.1885 209.563 111.307 201.519 129.476 196.988C140.392 149.752 126.906 101.286 93.2618 66.7004L66.4978 93.4644C84.5991 112.27 94.7991 136.946 95.2631 163.171C95.6271 183.756 89.9791 203.6 79.1271 220.574Z'
                    fill='#fff'></path>
            </svg>
        </div>
        <div class='projectinfo'>
            <a class='name' href={blogLink}><span class='name'>{title}</span></a
            >
            <span class='slug'>{slug}</span>
            <!-- <a class='link' href={blogLink}>@Project</a> -->
        </div>
    </div>
</div>

<style define:vars={{ imagePath }}>
    /* numberPositions  */
    :root {
        --primary-screen-rgb: 30, 184, 84;
        /* Theme colors */
        /* --primary-forest: 30,184,84;
        --primary-corporate: 75,107,251;
        --primary-garden: 92,127,103; */
    }
    /* body {
        background: #000;
        width: 100vw;
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;
    } */

    .screen {
        width: 100%;
        display: flex;
        /* border: 3px solid rgb(var(--primary-rgb), 0.8);  old*/
        border: 3px solid rgb(var(--primary-screen-rgb), 0.8);
        aspect-ratio: 12 / 10;
        /* aspect-ratio: 10 / 16; */
        /* aspect-ratio: 16 / 9; */
        border-radius: 1rem;
        /* background-color: rgb(var(--primary-rgb), 0.15); old */
        background-color: rgb(var(--primary-screen-rgb), 0.15);

        overflow: hidden;

        position: relative;
        z-index: 10;
    }

    .screen:after,
    .screen:before {
        content: '';
        height: 5px;
        position: absolute;
        z-index: 4;
        left: 50%;
        translate: -50% 0%;
        background-color: white;
    }

    .screen:before {
        width: 15%;
        top: 0rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    .screen:after {
        width: 25%;
        bottom: 0rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    .screen-overlay {
        position: absolute;
        z-index: 2;
        left: 0px;
        top: 0px;
        background: linear-gradient(
            rgb(var(--primary-screen-rgb), 0.15),
            /* rgb(var(--primary-rgb), 0.15),
            rgb(var(--primary-rgb), 0.15) 3px, */
                rgb(var(--primary-screen-rgb), 0.15) 3px,
            transparent 3px,
            transparent 9px
        );
        height: 100%;
        width: 100%;
        /* for the normal linear gradient - otherwise repeating-linear-gradient was used, but can't be animated */
        background-size: 100% 9px;
        animation: pan-overlay 42s infinite linear;
    }

    .screen > .screen-image {
        /* Changing the Image depending on the card */
        background-image: var(--imagePath);
        height: 100%;
        width: 100%;
        background-size: 300%; /* Zoom-In effect */
        background-position: center;
        /* Tint the image color -> muss ich mal noch schauen, ob ich das überhaupt drin haben will */
        /* filter: sepia(20%) hue-rotate(85deg); */
        opacity: 0.83;
        /* adding animation */
        animation: pan-image 42s linear infinite alternate;

        position: absolute;
    }

    /* Screen Content styling */

    .screen > .screen-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        flex-grow: 1;
        gap: 2.25rem;
        position: relative;
        z-index: 3;
        margin: 1rem;
        padding-bottom: 4rem;
        /* border: 1px solid rgb(var(--primary-rgb) / 50%); */
        border: 1px solid rgb(var(--primary-screen-rgb), 0.5);
        border-radius: 0.6rem;
    }

    .screen > .screen-content > .logo {
        filter: drop-shadow(0px 0px 0.5rem white);
    }

    .screen > .screen-content > .projectinfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: relative;
    }

    .screen > .screen-content > .projectinfo:before,
    .screen > .screen-content > .projectinfo:after {
        content: '';
        position: absolute;
        top: 0px;
        /* background-color: rgb(var(--primary-rgb)); */
        background-color: rgb(var(--primary-screen-rgb));
        border-radius: 1rem;
        /* box-shadow: 0px 0px 8px 3px rgb(var(--primary-rgb) / 60%); */
        box-shadow: 0px 0px 8px 3px rgb(var(--primary-screen-rgb), 0.6);
    }

    .screen > .screen-content > .projectinfo:before {
        height: 2px;
        width: 50px;
        translate: -20px -1rem;
        opacity: 0.75;
    }

    .screen > .screen-content > .projectinfo:after {
        height: 3px;
        width: 30px;
        translate: 26px calc(-1rem - 0.5px);
    }

    .screen > .screen-content > .projectinfo > :is(.name, .link) {
        /* font-family: 'Source Code Pro', monospace; */
        color: white;
        text-align: center;
        text-transform: uppercase;
    }

    .screen > .screen-content > .projectinfo > .name {
        position: relative;
        font-size: 3.5rem;
        font-weight: 400;
        cursor: none;
        /* border: 5px solid transparent; */
        max-width: 18ch;
    }

    .screen > .screen-content > .projectinfo > .name:before,
    .screen > .screen-content > .projectinfo > .name:after {
        content: '';
        height: 5px;
        width: 5px;
        position: absolute;
        border: 2px solid rgb(var(--primary-screen-rgb), 0.6);
        border-radius: 2px;
        box-shadow: 0px 0px 8px 3px white; /*rgb(var(--primary-screen-rgb), 0.6)*/
    }

    .screen > .screen-content > .projectinfo > .name:before {
        top: 50%;
        right: -0.7rem;
    }

    .screen > .screen-content > .projectinfo > .name:after {
        top: 50%;
        left: -0.7rem;
    }

    /* .screen > .screen-content > .projectinfo > .link {
        opacity: 0.8;
        font-size: 1.5rem;
        text-shadow: 0px 0px 0.5rem white;
        font-weight: 400;
        letter-spacing: 0.3rem;
        text-decoration: none;
    } */
    .screen > .screen-content > .projectinfo > .slug {
        color: white;
    }

    .screen > .screen-content > .projectinfo > .name:is(:hover, :focus) {
        text-decoration: underline;
        -webkit-transition: 0.8s ease;
        transition: 0.8s ease;
        /* border-bottom: 3px solid hsl(var(--a));
        border-top: 3px solid hsl(var(--a)); */
        /* width: 90%; */
        /* margin-right: 9px; */
    }

    @keyframes pan-overlay {
        from {
            background-position: 0% 0%;
        }
        to {
            background-position: 0% -100%;
        }
    }

    @keyframes pan-image {
        /* full picture animation */
        from {
            background-position: 0% 0%;
        }

        to {
            background-position: 100% 100%;
        }
        /* 0% {
            background-position: 15% 15%;
            background-size: 200%;
        }

        20% {
            background-position: 50% 15%;
            background-size: 250%;
        }
        20.0001% {
            background-position: 95% 95%;
            background-size: 300%;
        }

        40% {
            background-position: 66% 85%;
            background-size: 300%;
        }
        40.0001% {
            background-position: 6% 32%;
            background-size: 400%;
        }

        60% {
            background-position: 25% 35%;
            background-size: 400%;
        }
        60.0001% {
            background-position: 85% 22%;
            background-size: 320%;
        }

        80% {
            background-position: 100% 25%;
            background-size: 500%;
        }
        80.0001% {
            background-position: 50% 50%;
            background-size: 200%;
        }

        100% {
            background-position: 50% 50%;
            background-size: 120%;
        } */
    }
</style>
<script>
    // Theming
    const mode = localStorage.getItem('mode');
    const r = document.querySelector(':root');

    if (mode === 'dark') {
        r.style.setProperty('--primary-screen-rgb', '30,184,84');
    } else {
        r.style.setProperty('--primary-screen-rgb', '75,107,251');
    }

    // cursor
    const links = document.querySelectorAll(
        '.screen > .screen-content > .projectinfo > .name',
    );
    const cursor = document.querySelector('.cursor--point');
    links.forEach(link => {
        link.addEventListener('mouseover', () => {
            cursor.classList.add('cursor-new-site');
            // link.classList.add('link-hovered');
        });
        link.addEventListener('mouseleave', () => {
            cursor.classList.remove('cursor-new-site');
            // link.classList.remove('link-hovered');
        });
    });
</script>
