---
import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/ProjectCard.astro';
import Hero from '../components/Hero.astro';

interface Project {
	title: string;
	text: string;
	image: string;
	url: string;
	github: string;
}

const projects: Array<Project> = [
	{
		title: "Project 1",
		text: "lorem ipsum dolor sit amet, consectetur lorem ipsum dolor sit amet, consectetur lorem ipsum dolor sit amet, consectetur",
		image: "/images/projects/game.jpg",
		url: "https://google.com",
		github: "https://github.com",
	},
	{
		title: "Project 2",
		text: "lorem ipsum dolor sit amet, consectetur lorem ipsum dolor sit amet, consectetur lorem ipsum dolor sit amet, consectetur lorem ipsum dolor sit amet, consectetur",
		image: "/images/projects/garden.jpg",
		url: "https://google.com",
		github: "https://github.com",
	},
	{
		title: "Project 3",
		text: "lorem ipsum dolor sit amet, consectetur lorem ipsum dolor sit amet, consectetur lorem ipsum dolor sit amet, consectetur lorem ipsum dolor sit amet, consectetur",
		image: "/images/projects/project.jpg",
		url: "https://google.com",
		github: "https://github.com",
	},
	{
		title: "Project 4",
		text: "lorem ipsum dolor sit amet, consectetur lorem ipsum dolor sit amet, consectetur lorem ipsum dolor sit amet, consectetur lorem ipsum dolor sit amet, consectetur",
		image: "/images/projects/tech.jpg",
		url: "https://google.com",
		github: "https://github.com",
	},
]
---

<Layout title="Joe's Website 👾">
	
	<Hero title="👾 Joe's Website 👾" text="Welcome to my Website! I'm a CS student and interested in the fields of bioinformatics, machine learning, algorithms and quantum computing. Have a look and check out my projects. Just someone who is hyped about new stuff very easliy and gets excited 👾"/>
	<main class="pt-24">
		<h1 class="pb-16">Here are some of my <span class="text-primary-focus">Projects</span></h1>
		{projects.map(project => (
			<div class="py-2">
				<ProjectCard 
				title={project.title}
				text={project.text}
				image={project.image}
				url={project.url}
				github={project.github}
				/>
			</div>
		))}
	</main>
</Layout>

<style>

</style>
