---
export interface Props {
	title: string;
	text: string;
	image: string;
	url: string;
	github: string;
}
const { title, text, image, url, github } = Astro.props;
---

<div class="card card-side bg-base-100 shadow-xl">
	<figure><img src={image} alt="Movie"/></figure>
	<div class="card-body">
	  <h2 class="card-title">{title}</h2>
	  <p>{text}</p>
	  <div class="card-actions justify-end">
		<a href={url} class="btn btn-primary" target="_blank">To project</a>
		<a href={github} class="btn btn-primary" target="_blank">Github</a>
	  </div>
	</div>
  </div>