---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/projects/ProjectArticleCard.astro';
import Showcase from '../../components/Showcase.astro';

export async function getStaticPaths() {
    const projects = await Astro.glob('../../projects/*.md');

    return projects.map(project => ({
        params: {
            slug: project.frontmatter.slug,
        },
        props: {
            project,
        },
    }));
}

const { Content, frontmatter } = Astro.props.project;
---

<Layout title={frontmatter.title} navbarDelay={0}>
    <div class='pt-32'></div>
    <Showcase imagePath={frontmatter.image} title={frontmatter.title} />

    <main
        class='page-content min-h-90 pt-12 pb-24 w-full text-center flex flex-col items-center'
    >
        <div class='flex justify-center max-width-fill-screen'>
            <Card
                private_repo={frontmatter.private_repo}
                url={frontmatter.url}
                github={frontmatter.github}
            >
                <Content />
            </Card>
        </div>
    </main>
</Layout>
<style>
    .page-content > .max-width-fill-screen {
        max-width: 1600px;
    }
</style>
