---
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';
import Blob from '../components/Blob.astro'

export interface Props {
    title: string;
    navbarColor?: string;
    navbarDelay?: number;
    cursorSmall?: boolean;
    navbarSite?: string;
}

const { title, navbarColor, navbarDelay,cursorSmall=false,navbarSite="" } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width' />
        <link rel='icon' type='image/svg+xml' href='/logo_light.svg' />
        <link rel='stylesheet' href='/css/main.css' />
        <!-- <meta name="generator" content={Astro.generator} /> -->
        <!-- AOS import for animations - change later on -->
        <link
            rel='stylesheet'
            href='https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css'
            integrity='sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w=='
            crossorigin='anonymous'
            referrerpolicy='no-referrer'
        />
        <script
            src='https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js'
            integrity='sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw=='
            crossorigin='anonymous'
            referrerpolicy='no-referrer'
        ></script>
        <title>{title}</title>
    </head>
    <!-- TODO: change acording to the current selected theme -> JS -->
    <body class="bg-dark">
        <div class=`${cursorSmall ? "cursor--point cursor--small" : "cursor--point"}` id='cursor'></div>
        <div class='cursor--follow' id='cursor--follow'></div>
        <div class='cursor--text' id='cursor--text'></div>
        <Navbar color={navbarColor} delay={navbarDelay} site={navbarSite} />
        <Blob />
        <slot />
    </body>
    <Footer />
</html>

<style is:global>
.bg-dark {
        background-image: linear-gradient(66deg, transparent 0%, transparent 24%,rgba(195, 195, 195,0.04) 24%, rgba(195, 195, 195,0.04) 80%,transparent 80%, transparent 100%),linear-gradient(153deg, transparent 0%, transparent 29%,rgba(195, 195, 195,0.04) 29%, rgba(195, 195, 195,0.04) 45%,transparent 45%, transparent 100%),linear-gradient(199deg, transparent 0%, transparent 32%,rgba(195, 195, 195,0.04) 32%, rgba(195, 195, 195,0.04) 59%,transparent 59%, transparent 100%),linear-gradient(277deg, transparent 0%, transparent 56%,rgba(195, 195, 195,0.04) 56%, rgba(195, 195, 195,0.04) 57%,transparent 57%, transparent 100%),linear-gradient(90deg, rgb(14,22,41),rgb(14,22,41));
    }

    .bg-light {
        background-image: radial-gradient(circle at 13% 47%, rgba(140, 140, 140,0.03) 0%, rgba(140, 140, 140,0.03) 25%,transparent 25%, transparent 100%),radial-gradient(circle at 28% 63%, rgba(143, 143, 143,0.03) 0%, rgba(143, 143, 143,0.03) 16%,transparent 16%, transparent 100%),radial-gradient(circle at 81% 56%, rgba(65, 65, 65,0.03) 0%, rgba(65, 65, 65,0.03) 12%,transparent 12%, transparent 100%),radial-gradient(circle at 26% 48%, rgba(60, 60, 60,0.03) 0%, rgba(60, 60, 60,0.03) 6%,transparent 6%, transparent 100%),radial-gradient(circle at 97% 17%, rgba(150, 150, 150,0.03) 0%, rgba(150, 150, 150,0.03) 56%,transparent 56%, transparent 100%),radial-gradient(circle at 50% 100%, rgba(25, 25, 25,0.03) 0%, rgba(25, 25, 25,0.03) 36%,transparent 36%, transparent 100%),radial-gradient(circle at 55% 52%, rgba(69, 69, 69,0.03) 0%, rgba(69, 69, 69,0.03) 6%,transparent 6%, transparent 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
    }
</style>

<!-- Script for getting chosen theme -->
<script is:inline>
    const body = document.querySelector("body");
    const mode = (() => {
        if (
            typeof localStorage !== 'undefined' &&
            localStorage.getItem('mode')
        ) {
            return localStorage.getItem('mode');
        }
        if (window.matchMedia('(prefers-color-scheme: dark').matches) {
            return 'dark';
        }
        return 'light';
    })();

    // ! THEME CHANGE
    if (mode === 'light') {
        document.documentElement.classList.remove('dark');
        document.documentElement.setAttribute('data-theme', 'emerald');

        body.classList.replace('bg-dark', 'bg-light');
    } else {
        document.documentElement.classList.add('dark');
        document.documentElement.setAttribute('data-theme', 'night');
        
        body.classList.replace('bg-light', 'bg-dark');
    }
    window.localStorage.setItem('mode', mode);
    window.localStorage.setItem(
        'theme',
        // ! THEME CHANGE
        mode === 'light' ? 'emerald' : 'night',
    );
</script>
<script src='/scripts/theme.js' defer></script>

<!-- Mouse cursor -->
<!-- TODO: export is seperate script -->
<script is:inline>
    // const cursor_point = document.getElementById('.cursor');
    const cursor = document.querySelector('.cursor--point');
    // const cursor_follow = document.getElementById('.cursor--follow');
    const cursor_follow = document.querySelector('.cursor--follow');
    const cursorText = document.querySelector('.cursor--text');
    document.body.onpointermove = e => {
        const { clientX, clientY } = e;
        cursor.style.left = `${clientX}px`;
        cursor.style.top = `${clientY}px`;
        cursor_follow.animate(
            {
                left: `${clientX}px`,
                top: `${clientY}px`,
            },
            { duration: 3500, fill: 'forwards' },
        );
        cursorText.style.left = `${clientX}px`;
        cursorText.style.top = `${clientY}px`;
    };
    // window.addEventListener('mousemove', e => {
    //     cursor_point.style(
    //         // 'style',
    //         'top: ' + (e.pageY - 10) + 'px; left: ' + (e.pageX - 10) + 'px;',
    //     );
    //     cursor_follow.setAttribute(
    //         'style',
    //         'top: ' + (e.pageY - 10) + 'px; left: ' + (e.pageX - 10) + 'px;',
    //     );
    // });

    // on click event is triggered
    // window.addEventListener('click', e => {
    //     cursor.classList.add('expand');

    //     setTimeout(() => {
    //         cursor.classList.remove('expand');
    //     }, 500);
    // });
</script>

<!-- Animation with aos -->
<script>
    AOS.init({
        disable: 'phone',
    });
</script>
